<div class="notice">
  <span>This is a message</span>
</div>

<h1>Hello World in the Browser</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, aut excepturi illum aliquid saepe reiciendis numquam minus repudiandae totam omnis aperiam accusantium sint tempora deleniti nulla cumque molestias? Officiis, debitis.</p>

<fieldset>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, ratione, soluta facere ullam commodi quia quidem suscipit ipsam obcaecati nihil porro labore laudantium laborum quis numquam deleniti molestiae ab. Delectus.</p>
  <label for="textbox">Text box</label>
  <input type="text">
  <input type="submit" value="Submit">
</fieldset>
